[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "xlsform2word"]
	path = xlsform2word
	url = https://github.com/cran/xlsform2word
